{{ attach_library('tac_vimeo_embed_field/tac_vimeo_embed_field_renderer') }}
<div class="tac-video-embed-field"
     data-width="{{ attributes.storage.width }}"
     data-height="{{ attributes.storage.height }}"
     data-frameborder="{{ attributes.storage.frameborder }}"
     data-allowfullscreen="{{ attributes.storage.allowfullscreen }}"
     data-src="{{ url }}"
     data-provider="vimeo"
></div>